<div class="flex flex-col items-center h-screen mt-16">
  <img class="mb-8" src="/assets/images/error.gif" alt="오류 이미지">
  <p class="text-xl text-center">
    <div>죄송합니다. 제가 부족한 탓에 에러가 발생하고 말았습니다. 😢</div>
  </p>
  <a href="/" class="text-primary font-bold hover:text-primary-focus">도망가기</a>
  <div class="error-text absolute text-9xl top-[-7%] left-[-10%] text-gray-400/10 z-[-1] h-screen whitespace-nowrap">
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
    <div>Error! Error! Error! Error! Error! Error! Error! Error! Error! </div>
  </div>
</div>