<div class="container">
  <img class="error-image" src="/assets/images/404-not-found.gif" alt="오류 이미지">
  <p class="comment">어허! 여기저기 돌아다니면 위험합니다.</p>
  <a href="/" class="back-link">돌아가기</a>
  <div class="error-text">
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
    <div>404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found</div>
    <div>Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404</div>
    <div>Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not Found 404 Not</div>
  </div>
</div>