<h1 id="title"></h1>
<p id="description"></p>

<div class="timer-container">
  <h1>온라인 타이머</h1>
  <div class="timer-circle">
    <svg class="timer-svg">
      <circle cx="50%" cy="50%" r="48%" class="timer-circle-background"></circle>
      <circle cx="50%" cy="50%" r="48%" class="timer-circle-foreground"></circle>
    </svg>
    <div class="time-text">
      <div class="time">00:00</div>
      <div>⏰ <span class="alarm-time">00:00</span></div>
    </div>
  </div>
  <div class="progress-bar">
    <div class="progress"></div>
    <div class="progress-text">
      <span class="progress-per">0</span>
      <span>%</span>
    </div>
  </div>
</div>
<script>
  const socket = io();
  let interval;


  /**
   * timerUpdated 소켓 이벤트 발생 시 타이머를 새로 시작
   */
  socket.on('timerUpdated', (data) => {
    document.getElementById('title').textContent = data.title;
    document.getElementById('description').textContent = data.description;

    // 기존 타이머 제거
    if (interval) {
      clearInterval(interval);
    }

    // 새로운 타이머 시작
    updateTimeRemaining(data.endTime);
  });
</script>