<header class="navbar bg-base-100 shadow-lg justify-between">
  <div class="">
    <a href="/admin" class="normal-case text-lg">관리자</a>
  </div>
  <div class="">
    <a href="/" class="normal-case text-xl font-bold">공유 타이머</a>
  </div>
  <div class="">
    <button class="btn btn-square btn-ghost" id="theme-toggle">
        <span id="theme-icon" class="icon">&#9728;</span>
    </button>
  </div>
</header>